@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

.header{
    background-color: #014040;
    color: #f28c0f;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
}

.header p{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

#logo{
    width: 60px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 15px 100px;
    font-family: 'Bebas Neue', sans-serif;
}
  
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
  
nav ul li a {
    color: #02735e;
    position: relative;
    padding: 5px 0;
}
  
nav ul li a:hover {
    color: #f28c0f;
}
  
nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #f28c0f;
    transition: .8s;
    top: 0;
}
  
nav ul li a:hover:after {
    width: 100%;
}
  
a {
    text-decoration: none;
    font-size: 20px;
}

section h1{
    color: #f28c0f;
    font-size: 75px;
    line-height: 90px;
    margin: 30px 50px;
    font-family: 'Bebas Neue', sans-serif;
}

section p{
    font-size: 24px;
    color: #02735e;
    margin: 0px 50px;
    font-family: 'Fira Sans', sans-serif;
}

strong{
    color: #f28c0f;
}

svg{
    margin-top: -45px;
}

.integrantesfooter{
    background-color: #014040;
    color: #f28c0f;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:0;
    left:0;
    gap: 20px;
    border-radius: 15px 15px 0px 0px;
}

.texto{
    font-size: 24px;
    color: #02735e;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    margin: 30px 100px;
}

.fotos{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0px;
}

.foto{
    width: 350px;
    height: 200px;
    border-radius: 6px;
}

.formulario{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
}

@media (max-width:480px) {
    .integrantesfooter{
        height: 60px;
        font-size: 12px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fotos{
        flex-direction: column;
        align-items: center;
    }
    
    .foto{
        width: 220px;
        height: 100px;
        border-radius: 6px;
    }

    .cards{
        margin-top: 3%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
}

@media (min-width:801px) and (max-width:1000px) {
        .integrantesfooter{
        height: 60px;
        font-size: 16px;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    svg{
        margin-top: 220px;
    }

    section h1{
        margin-top: 150px;
    }

    .fotos{
        flex-direction: column;
        align-items: center;
    }
    
    .foto{
        width: 250px;
        height: 100px;
        border-radius: 6px;
    }

    .cards{
        margin-top: 3%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
}